In [1]:
import pandas as pd
import numpy as np
import unicodedata

# Data

In [2]:
data = pd.read_csv('data/anzahl-sbb-bahnhofbenutzer.csv') #contains origin 
data_pop = pd.read_excel('data/data_pop.xlsx') #population for each city
data_red = pd.read_excel('data/data_pop_modif.xlsx') # population and origin. it does not contain zurich and geneve

In [3]:
data_split = data['Bahnhof_Gare_Stazione;Unité;Jahr;Anzahl Bahnhofbenutzer'].str.split(';', expand=True)
data_split.columns = ['city', 'Unité', 'Jahr', 'origin']

## Data Manipulation

In [4]:
data_2024 = data_split[(data_split['Unité']== 'DP/jour ouvré') & (data_split['Jahr']=='2024')]
data_2024 = data_2024.drop(['Unité', 'Jahr'], axis=1)

In [5]:
data_2024.loc[:, 'origin']  = pd.to_numeric(data_2024['origin'], errors='coerce')

In [6]:
to_remove = ['Uster', 'Zürich Stadelhofen']
data_2024 = data_2024[~data_2024['city'].isin(to_remove)]
data_2024 = data_2024.reset_index(drop=True)

We have to manage the different station in the city of Zürich and Geneve. To do that, first we aggregate the origin for this station in only one.

In [7]:
df = data_2024

cities_to_merge_zh = ["Zürich HB",'Zürich Enge','Zürich Hardbrücke', 'Zürich Altstetten' ]
cities_to_merge_ge = ['Genève', 'Genève-Eaux-Vives']

mask_zh = df["city"].isin(cities_to_merge_zh)
mask_ge = df["city"].isin(cities_to_merge_ge)

merged_origin_zh = df.loc[mask_zh, "origin"].sum()
merged_origin_ge = df.loc[mask_ge, "origin"].sum()


new_row_zh = pd.DataFrame({"city": ["Zürich HB"], "origin": [merged_origin_zh]})
new_row_ge = pd.DataFrame({"city": ["Genève"], "origin": [merged_origin_ge]})


df_filtered = df[~mask_zh]
df_filtered = df_filtered[~mask_ge]
df_filtered_zh = pd.concat([df_filtered, new_row_zh], ignore_index=True)
df_final = pd.concat([df_filtered_zh, new_row_ge], ignore_index=True)
df_final

C:\Users\liuzz_n67s76z\AppData\Local\Temp\ipykernel_25872\2249174985.py:18: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_filtered = df_filtered[~mask_ge]

                 city  origin
0           Neuchâtel   28900
1                Thun   40400
2          Bellinzona   16100
3              Lugano   34100
4          St. Gallen   77400
5          Winterthur  134700
6                 Zug   58900
7                Bern  298900
8              Luzern  145400
9               Baden   55400
10  Fribourg/Freiburg   31500
11    Zürich Oerlikon  113800
12          Basel SBB  140900
13              Aarau   78600
14               Chur   40300
15    Genève-Aéroport   43000
16              Olten   69600
17           Lausanne  127900
18        Biel/Bienne   65200
19          Zürich HB  550000
20             Genève  187600

# Estimate the destination

As we have only the origin we try to estiamte the destinatio in order to utilise a gravity model and define a origin-destiantion matrix.

To estimate the destination we consider the population and the origin of each cities and we compute a weight. The weight reppresent the power of the city with respect to the others, the weight are between 0 and 1. If the weigth w --> 1 means that the cities attract more people.

In [8]:
total_origin = df_final['origin'].sum()
population_total = data_pop['habitant'].sum()

menage the station in geneve

In [9]:
geneve_stations = ['Genève', 'Genève-Aéroport']  
df_ge = df_final.loc[df_final['city'].isin(geneve_stations)].copy() 

pop_ge = data_pop.loc[data_pop['City'] == 'Genève'].copy()
total_origin_ge = df_ge['origin'].sum()

df_ge['weight'] = df_ge['origin'] / total_origin_ge
population_weight_ge = (pop_ge['habitant'] + total_origin_ge) / (total_origin + population_total)
df_ge

               city  origin   weight
15  Genève-Aéroport   43000  0.18647
20           Genève  187600  0.81353

In [10]:
df_ge['weight_population'] = df_ge['weight']*population_weight_ge[1]
df_ge['destination'] = df_ge['weight_population']*total_origin
df_ge

               city  origin   weight weight_population    destination
15  Genève-Aéroport   43000  0.18647          0.019556   45734.763171
20           Genève  187600  0.81353          0.085321  199531.199324

menage the stations of zurich

In [11]:
zurich_station = ['Zürich Oerlikon', 'Zürich HB']
df_zh = df_final[df_final['city'].isin(zurich_station)].copy()

pop_zh = data_pop[data_pop['City'] == 'Zürich'].copy()
total_origin_zh = df_zh['origin'].sum()

df_zh['weight'] = df_zh['origin']/total_origin_zh
population_weight_zh = (pop_zh['habitant']+total_origin_zh) / (total_origin + population_total)
df_zh

               city  origin    weight
11  Zürich Oerlikon  113800  0.171437
19        Zürich HB  550000  0.828563

In [12]:
df_zh['weight_population'] = df_zh['weight']*population_weight_zh[0]
df_zh['destination'] = df_zh['weight_population']*total_origin

df_zh

               city  origin    weight weight_population    destination
11  Zürich Oerlikon  113800  0.171437          0.045174  105643.939168
19        Zürich HB  550000  0.828563          0.218328  510581.428315

Menage the other city

In [13]:
data_red['weight'] = (data_red['population']+data_red['origin'])/(population_total + total_origin)

data_red['destination'] = data_red['weight']*total_origin
data_red.sort_values(by='destination')

                 city  population  origin    weight    destination
11        Bellinzona        46544   16100  0.015123   35366.082669
8   Fribourg/Freiburg       37653   31500  0.016694   39040.781476
10         Neuchâtel        44597   28900  0.017743   41493.215278
15               Chur       38129   40300  0.018933   44277.608352
0                Thun       43670   40400  0.020295   47462.272045
7              Baden        32566   55400  0.021236   49661.784497
12                Zug       31345   58900  0.021786   50948.408953
6              Lugano       62464   34100  0.023311   54515.842009
14              Olten       30678   69600  0.024208   56612.605163
16              Aarau       22290   78600  0.024356   56958.113793
9         Biel/Bienne       55070   65200  0.029034   67899.220397
4          St. Gallen       76931   77400  0.037257   87128.582216
5              Luzern       83840  145400  0.055340  129418.951392
3          Winterthur      116906  134700  0.060740  142045.823957
2           Lausanne       141418  127900  0.065016  152045.250178
1           Basel SBB      173552  140900  0.075911  177525.947055
13              Bern       134552  298900  0.104639  244708.180591

Concatenate and clean the Origin Destination

In [14]:
data_red = data_red.drop(['population', 'weight'], axis=1)
df_ge = df_ge.drop(['weight', 'weight_population'], axis=1)
df_zh = df_zh.drop(['weight','weight_population'], axis=1)

production = pd.concat([df_ge, df_zh], axis=0, ignore_index=True)  # Ignore original index and create a new one

In [15]:
prod_att = pd.concat([production, data_red], axis=0, ignore_index=True)  # Ignore original index and create a new one

Sanity Check

In [16]:
origin = prod_att['origin'].sum()
destination = prod_att['destination'].sum()
print(origin, destination)

2338600 2338600.0000000005

In [17]:
prod_att[['origin', 'destination']] = np.round(prod_att[['origin', 'destination']]).astype(int)

Save the dataframe

In [18]:
#od_df.to_csv('prod_att.csv', index=False)                # To CSV

In [19]:
prod_att

                 city  origin  destination
0     Genève-Aéroport   43000        45734
1              Genève  187600       199531
2     Zürich Oerlikon  113800       105643
3           Zürich HB  550000       510581
4                Thun   40400        47462
5           Basel SBB  140900       177525
6           Lausanne   127900       152045
7          Winterthur  134700       142045
8          St. Gallen   77400        87128
9              Luzern  145400       129418
10             Lugano   34100        54515
11             Baden    55400        49661
12  Fribourg/Freiburg   31500        39040
13        Biel/Bienne   65200        67899
14         Neuchâtel    28900        41493
15        Bellinzona    16100        35366
16                Zug   58900        50948
17              Bern   298900       244708
18              Olten   69600        56612
19               Chur   40300        44277
20              Aarau   78600        56958

# Gravity Model

In [20]:
distance_matrix = pd.read_csv('data/distance_matrix.csv')
pa = prod_att.copy()

In [21]:
distance_matrix = distance_matrix.drop('Lugano Nord', axis=1)

# List of stations to remove
to_remove = ['Lugano Nord']

# Filter rows where 'Station_Name' is NOT in to_remove
distance_matrix = distance_matrix[~distance_matrix['Unnamed: 0'].isin(to_remove)]

# Optional: Reset index if needed
distance_matrix = distance_matrix.reset_index(drop=True)
distance_matrix

,Unnamed: 0,Bern,Basel SBB,Lausanne,Luzern,St. Gallen,Winterthur,Zug,Aarau,Baden,...,Fribourg/Freiburg,Genève-Aéroport,Genève,Neuchâtel,Olten,Thun,Bellinzona,Lugano,Zürich Oerlikon,Zürich HB
0,Bern,0.000,104798.677,96888.245,119979.281,202576.446,145437.404,141853.610,78999.684,110068.246,...,31109.895,163033.063,157114.875,62661.789,65626.280,31264.012,285352.211,314907.207,124018.454,120492.589
1,Basel SBB,104798.677,0.000,177474.735,94940.490,176122.563,118983.521,116814.819,52545.801,83614.363,...,135908.572,233259.129,227340.941,102386.778,39172.397,132299.575,260313.420,289868.416,97564.571,94038.706
2,Lausanne,96888.245,177474.735,0.000,216867.526,299464.691,242325.649,238741.855,175887.929,206956.491,...,65778.350,66144.818,60226.630,75087.957,162514.525,128152.257,382240.456,411795.452,220906.699,217380.834
3,Luzern,119979.281,94940.490,216867.526,0.000,139430.850,82291.808,28417.295,69141.497,78091.616,...,151089.176,275911.172,269992.984,145038.821,55768.093,147480.179,169866.354,199421.350,60872.858,57346.993
4,St. Gallen,202576.446,176122.563,299464.691,139430.850,0.000,57139.042,111013.555,123576.762,104671.032,...,233686.341,357093.245,351175.057,226220.894,136950.166,230077.344,304803.780,334358.776,78557.992,83926.409
5,Winterthur,145437.404,118983.521,242325.649,82291.808,57139.042,0.000,53874.513,66437.720,47531.990,...,176547.299,299954.203,294036.015,169081.852,79811.124,172938.302,247664.738,277219.734,21418.950,26787.367
6,Zug,141853.610,116814.819,238741.855,28417.295,111013.555,53874.513,0.000,68580.051,49674.321,...,172963.505,297785.501,291867.313,166913.150,77642.422,169354.508,193790.225,223345.221,32455.563,28929.698
7,Aarau,78999.684,52545.801,175887.929,69141.497,123576.762,66437.720,68580.051,0.000,31068.562,...,110109.579,233516.483,227598.295,102644.132,13373.404,106500.582,234514.427,264069.423,45018.770,41492.905
8,Baden,110068.246,83614.363,206956.491,78091.616,104671.032,47531.990,49674.321,31068.562,0.000,...,141178.141,264585.045,258666.857,133712.694,44441.966,137569.144,243464.546,273019.542,26113.040,22587.175
9,Biel/Bienne,33461.669,73186.658,104288.077,115838.701,197020.774,139881.732,137713.030,73444.012,104512.574,...,64571.564,160072.471,154154.283,29200.120,60070.608,60962.567,281211.631,310766.627,118462.782,114936.917
10,Chur,234725.439,208271.556,331613.684,149820.395,106155.250,141020.217,121403.100,155725.755,136820.025,...,265835.334,389242.238,383324.050,258369.887,169099.159,262226.337,315193.325,344748.321,119601.267,116075.402
11,Fribourg/Freiburg,31109.895,135908.572,65778.350,151089.176,233686.341,176547.299,172963.505,110109.579,141178.141,...,0.000,131923.168,126004.980,93771.684,96736.175,62373.907,316462.106,346017.102,155128.349,151602.484
12,Genève-Aéroport,163033.063,233259.129,66144.818,275911.172,357093.245,299954.203,297785.501,233516.483,264585.045,...,131923.168,0.000,5918.188,130872.351,220143.079,194297.075,441284.102,470839.098,278535.253,275009.388
13,Genève,157114.875,227340.941,60226.630,269992.984,351175.057,294036.015,291867.313,227598.295,258666.857,...,126004.980,5918.188,0.000,124954.163,214224.891,188378.887,435365.914,464920.910,272617.065,269091.200
14,Neuchâtel,62661.789,102386.778,75087.957,145038.821,226220.894,169081.852,166913.150,102644.132,133712.694,...,93771.684,130872.351,124954.163,0.000,89270.728,90162.687,310411.751,339966.747,147662.902,144137.037
15,Olten,65626.280,39172.397,162514.525,55768.093,136950.166,79811.124,77642.422,13373.404,44441.966,...,96736.175,220143.079,214224.891,89270.728,0.000,93127.178,221141.023,250696.019,58392.174,54866.309
16,Thun,31264.012,132299.575,128152.257,147480.179,230077.344,172938.302,169354.508,106500.582,137569.144,...,62373.907,194297.075,188378.887,90162.687,93127.178,0.000,312853.109,342408.105,151519.352,147993.487
17,Bellinzona,285352.211,260313.420,382240.456,169866.354,304803.780,247664.738,193790.225,234514.427,243464.546,...,316462.106,441284.102,435365.914,310411.751,221141.023,312853.109,0.000,29554.996,226245.788,222719.923
18,Lugano,314907.207,289868.416,411795.452,199421.350,334358.776,277219.734,223345.221,264069.423,273019.542,...,346017.102,470839.098,464920.910,339966.747,250696.019,342408.105,29554.996,0.000,255800.784,252274.919
19,Zürich Oerlikon,124018.454,97564.571,220906.699,60872.858,78557.992,21418.950,32455.563,45018.770,26113.040,...,155128.349,278535.253,272617.065,147662.902,58392.174,151519.352,226245.788,255800.784,0.000,5368.417
20,Zürich HB,120492.589,94038.706,217380.834,57346.993,83926.409,26787.367,28929.698,41492.905,22587.175,...,151602.484,275009.388,269091.200,144137.037,54866.309,147993.487,222719.923,252274.919,5368.417,0.000

In [22]:
def clean_city_name(name):

    name = str(name)
    
    name = unicodedata.normalize('NFKD', name)\
                      .encode('ascii', 'ignore')\
                      .decode('utf-8')
    
    name = ''.join(char for char in name if char.isalnum()).lower()
    
    return name

def uniform_city_names(df, city_column):
    df = df.copy()
    
    df[city_column] = df[city_column].apply(clean_city_name)
    
    return df

In [23]:
distance_matrix = uniform_city_names(distance_matrix, 'Unnamed: 0')
pa =  uniform_city_names(pa, 'city')

pa.sort_values(by='destination',ascending=False)
pa_ord = pa.set_index('city').reindex(distance_matrix['Unnamed: 0']).reset_index()

In [24]:
pa_ord

          Unnamed: 0  origin  destination
0               bern  298900       244708
1           baselsbb  140900       177525
2           lausanne  127900       152045
3             luzern  145400       129418
4           stgallen   77400        87128
5         winterthur  134700       142045
6                zug   58900        50948
7              aarau   78600        56958
8              baden   55400        49661
9         bielbienne   65200        67899
10              chur   40300        44277
11  fribourgfreiburg   31500        39040
12    geneveaeroport   43000        45734
13            geneve  187600       199531
14         neuchatel   28900        41493
15             olten   69600        56612
16              thun   40400        47462
17        bellinzona   16100        35366
18            lugano   34100        54515
19    zurichoerlikon  113800       105643
20          zurichhb  550000       510581

Cost Matrix

In [25]:
cost_matrix = distance_matrix.iloc[:, 1:].to_numpy()

Gravity Model

In [26]:
O_totals = pa_ord['origin'].values
D_totals = pa_ord['destination'].values

In [27]:
beta = 0.1  # Calibrated parameter (adjust based on observed data)
def deterrence_function(cost, beta=0.1):
    return 1/cost  # Exponential form

In [28]:
counter = 0 # We need a counter to keep track of the first iteration
threshold_gravity = 0.000001 # The convergence threshold of the gravity model
threshold_MTL = 0.000001 # The convergence threshold of the MTL comparison
condition_MTL = 1 # condition for breaking the loop - must be larger than the threshold_MTL
diffA = np.array([1,1]) # we set the while loop condition to a large value

In [29]:
As = np.zeros(len(O_totals)) # The A values of the current iteration
As0 = np.zeros(len(O_totals)) # The A values of the previous iteration
Bs = np.ones(len(O_totals)) # The B values of the current iteration
OD_est = np.zeros((len(O_totals), len(O_totals))) # The estimated OD matrix

In [30]:
MTL = cost_matrix.mean()
MTL

np.float64(159953.77134240363)

In [31]:
n=1/MTL
GC = cost_matrix

In [32]:
while condition_MTL>threshold_MTL:

    ##############################################################
    ##############################################################

    # The gravity model part
    
    Fc = np.exp(-n*GC) # The deterrence function
    np.fill_diagonal(Fc,1e-6 )
    
    while min(diffA) > threshold_gravity:
        for i in range(len(As)):
            Sum_B = 0
            for j in range(len(As)):
                Sum_B += Bs[j]*D_totals[j]*Fc[i,j]
            As[i] = 1/Sum_B
        
        diffA = abs(As-As0)
        if min(diffA)<threshold_gravity:
            break
        
        for j in range(len(As)):
            Sum_A = 0
            for i in range(len(As)):
                Sum_A += As[i]*O_totals[i]*Fc[i,j]
            Bs[j] = 1/Sum_A
        As0 = As.copy()

    # Here the new OD matrix is computed
    
    for i in range(len(As)):
        for j in range(len(As)):
            OD_est[i,j] = As[i]*Bs[j]*O_totals[i]*D_totals[j]*Fc[i,j]

    # Reset some indicators
    As = np.zeros(len(O_totals)) # The A values of the current iteration
    As0 = np.zeros(len(O_totals)) # The A values of the previous iteration
    Bs = np.ones(len(O_totals)) # The B values of the current iteration        
    diffA = np.array([1,1])
    
    ##############################################################
    ##############################################################
    
    if counter==0: # Update of n in the first iteration only
        n0 = n
        numerator = OD_est*GC
        numerator = numerator.sum()
        denominator = (OD_est.sum())
        MTL_new = numerator/denominator
        MTL_new0 = MTL_new
        n = n*(MTL_new/MTL)
    
    if counter>0: # Update of n in later iterations
        n00=n
        numerator = OD_est*GC
        numerator = numerator.sum()
        denominator = (OD_est.sum())
        MTL_new = numerator/denominator
        
        n = ((MTL-MTL_new0)*n-(MTL-MTL_new)*n0)/(MTL_new-MTL_new0) # Parameter update step
        n0=n00
        MTL_new0 = MTL_new

    counter = counter + 1 # Increase the counter by 1

    condition_MTL = abs(MTL_new-MTL)
    
    if(condition_MTL<=threshold_MTL):
        break

    print(MTL_new)

108442.93778883578
118188.00444499025
172069.94157541494
158428.90866158705
159920.77988260955
159953.87687471433
159953.77133524235

In [33]:
OD_est = np.round(OD_est,0)
print(OD_est)

[[    0. 23586. 19779. 17906. 15032. 21037.  7473.  7064.  6692.  7456.
   8324.  4260.  7099. 30487.  4926.  6774.  5181.  7612. 12697. 14775.
  70741.]
 [14707.     0. 11096.  7576.  6336.  8867.  3162.  2977.  2820.  3750.
   3508.  2550.  3874. 16637.  2478.  2855.  3070.  3220.  5372.  6228.
  29817.]
 [11032.  9926.     0.  8039.  6749.  9445.  3355.  3171.  3004.  3122.
   3737.  1620.  1899.  8156.  1765.  3041.  2326.  3417.  5700.  6634.
  31760.]
 [15745. 10683. 12673.     0.  5905.  8264.  2567.  3199.  2857.  4321.
   3085.  2730.  4463. 19167.  2855.  3068.  3287.  2600.  4337.  5804.
  27790.]
 [ 8765.  5925.  7055.  3916.     0.  3450.  1429.  1652.  1369.  2396.
   1226.  1520.  2475. 10630.  1583.  1702.  1830.  1665.  2777.  2717.
  13320.]
 [15382. 10397. 12381.  6872.  4326.     0.  2508.  2899.  2403.  4205.
   2750.  2667.  4344. 18654.  2778.  2986.  3211.  2921.  4873.  4768.
  23375.]
 [ 6527.  4429.  5254.  2549.  2140.  2995.     0.  1249.  1035.  1791.
   1118.  1132.  1850.  7946.  1183.  1272.  1362.  1084.  1808.  2104.
  10072.]
 [ 7897.  5338.  6356.  4068.  3167.  4433.  1599.     0.  1410.  2159.
   1754.  1369.  2230.  9577.  1426.  1533.  1648.  1729.  2884.  3113.
  14906.]
 [ 5868.  3966.  4723.  2849.  2059.  2882.  1040.  1106.     0.  1604.
   1140.  1017.  1657.  7116.  1060.  1139.  1225.  1211.  2020.  2024.
   9692.]
 [ 5576.  4498.  4186.  3675.  3073.  4301.  1534.  1444.  1368.     0.
   1702.   967.  1462.  6277.   935.  1385.  1164.  1562.  2606.  3021.
  14464.]
 [ 4505.  3045.  3626.  1899.  1138.  2036.   693.   849.   704.  1232.
      0.   781.  1272.  5463.   814.   875.   940.   807.  1346.  1430.
   6846.]
 [ 2493.  2393.  1700.  1817.  1525.  2135.   758.   717.   679.   757.
    845.     0.   610.  2620.   500.   687.   526.   772.  1288.  1499.
   7178.]
 [ 3743.  3276.  1795.  2676.  2238.  3132.  1117.  1052.   996.  1030.
   1239.   550.     0.  2006.   582.  1009.   789.  1138.  1898.  2200.
  10533.]
 [16936. 14822.  8123. 12110. 10127. 14173.  5054.  4759.  4508.  4662.
   5608.  2486.  2113.     0.  2635.  4564.  3571.  5147.  8586.  9954.
  47660.]
 [ 2520.  2033.  1618.  1661.  1389.  1944.   693.   653.   618.   639.
    769.   437.   565.  2426.     0.   626.   526.   706.  1177.  1365.
   6536.]
 [ 6794.  4593.  5469.  3500.  2927.  4096.  1461.  1375.  1303.  1857.
   1621.  1178.  1919.  8240.  1227.     0.  1418.  1488.  2482.  2877.
  13775.]
 [ 3142.  2986.  2529.  2267.  1903.  2663.   946.   894.   847.   944.
   1054.   545.   908.  3898.   624.   857.     0.   963.  1607.  1870.
   8955.]
 [ 1732.  1175.  1394.   673.   650.   909.   282.   352.   314.   475.
    339.   300.   491.  2109.   314.   338.   362.     0.   195.   639.
   3057.]
 [ 3686.  2501.  2967.  1432.  1383.  1935.   601.   749.   669.  1012.
    722.   639.  1045.  4488.   668.   718.   770.   249.     0.  1359.
   6507.]
 [12754.  8621. 10266.  5698.  4022.  5628.  2079.  2404.  1993.  3487.
   2281.  2211.  3602. 15468.  2304.  2476.  2662.  2422.  4040.     0.
  19382.]
 [71073. 48042. 57206. 31753. 22950. 32119. 11586. 13395. 11104. 19430.
  12709. 12321. 20071. 86195. 12837. 13798. 14836. 13498. 22515. 22559.
      0.]]

Export

In [34]:
rows, cols = np.where(OD_est != 0)  
q_values = OD_est[rows, cols]     

df_long = pd.DataFrame({
    'org': rows,
    'dest': cols,
    'q': q_values
})

df_long = df_long.sort_values(by=['org', 'dest']).reset_index(drop=True)

print(df_long)

     org  dest        q
0      0     1  23586.0
1      0     2  19779.0
2      0     3  17906.0
3      0     4  15032.0
4      0     5  21037.0
..   ...   ...      ...
415   20    15  13798.0
416   20    16  14836.0
417   20    17  13498.0
418   20    18  22515.0
419   20    19  22559.0

[420 rows x 3 columns]

In [35]:
#df_long.to_csv('od_df.csv', index=False)